<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet">
        <meta name="description" content="{{htmlWebpackPlugin.options.description}}">
        <!-- <link rel="shortcut icon" type="image/png" href="img/favicon.png"> -->

        <title>{{htmlWebpackPlugin.options.title}}</title>
    </head>
    <body>
        <div class="content">
<!--------------DECORATIONS-------------->  
                <div class="decoration"></div>
                <div class="decoration"></div>
                <div class="decoration"></div>
                <div class="decoration"></div>
                <div class="decoration"></div>
                <div class="decoration"></div>
                <div class="decoration"></div>
                <div class="decoration"></div>
                <div class="decoration"></div>
<!--------------DECORATIONS--------------> 
                <div class="content__name">
                    <h1 class="content__initials"><a href="/">R. T. dev.</a></h1>
                    <h2 class="content__full-name">Application Projects</h2>
                </div>
                <div class="content__container projects__container">  
                    <div class="project">
                        <img src="./img/cryptoRates.jpg" alt="" class="project__image">
                        <p class="project__label">Poject name:</p>
                        <p class="project__name">Cryptocurrency Rates</p>
                        <p class="project__label">Poject description:</p>
                        <p class="project__description">An application that was build during the Udemy course <a href="https://www.udemy.com/modern-javascript-the-complete-course-build-10-projects/learn/v4/overview" class="project__course" target="_blank">Modern JavaScript The Complete Course</a> . The purpose of the application is to check any cryptocurreny current rate in USD, GBP, EU. Aswell it displays the % change for the last hour, day, week.</p>
                        <a href="https://github.com/R-T-Code/App.CryptoRateCalculator.git" class="project__link" target="_blank"><span>Git</span> to the project</a>
                        <a href="http://rtdevs.io/projects/app/course-app-1/" class="project__link" target="_blank">Try out the <span>app</span></a>
                    </div>

                    <div class="project">
                            <img src="./img/eventSearch.jpg" alt="" class="project__image">
                            <p class="project__label">Poject name:</p>
                            <p class="project__name">Search Events</p>
                            <p class="project__label">Poject description:</p>
                            <p class="project__description">An application that was build during the Udemy course <a href="https://www.udemy.com/modern-javascript-the-complete-course-build-10-projects/learn/v4/overview" class="project__course" target="_blank">Modern JavaScript The Complete Course</a> . The purpose of the application is to search for events by the name or by the city using the API from evenbrite platform</p>
                            <a href="https://github.com/R-T-Code/App.EventsSearch.git" class="project__link" target="_blank"><span>Git</span> to the project</a>
                            <a href="http://rtdevs.io/projects/app/course-app-2/" class="project__link" target="_blank">Try out the <span>app</span></a>
                    </div>

                    <div class="project">
                            <img src="./img/cocktailSearch.jpg" alt="" class="project__image">
                            <p class="project__label">Poject name:</p>
                            <p class="project__name">Perfect Cocktail</p>
                            <p class="project__label">Poject description:</p>
                            <p class="project__description">An application that was build during the Udemy course <a href="https://www.udemy.com/modern-javascript-the-complete-course-build-10-projects/learn/v4/overview" class="project__course" target="_blank">Modern JavaScript The Complete Course</a> . The purpose of the application is to search for cocktails. It gives a user a choice to search for drinks by various options. Aswell there is a possiblity to add drinks to your favorites list which will be saved in a local storage for future use.</p>
                            <a href="https://github.com/R-T-Code/App.CocktailSearch.git" class="project__link" target="_blank"><span>Git</span> to the project</a>
                            <a href="http://rtdevs.io/projects/app/course-app-3/" class="project__link" target="_blank">Try out the <span>app</span></a>
                    </div>

                    <div class="project">
                            <img src="./img/cryptoApp.jpeg" alt="" class="project__image">
                            <p class="project__label">Poject name:</p>
                            <p class="project__name">My Crypto App</p>
                            <p class="project__label">Poject description:</p>
                            <p class="project__description">An application that i decided to build for myself. Basically i wanted to have a page where i could see my entire cryptocurreny portfolio, with daily changes in each currency aswell as total market cap. I also added the count for my total portfolio value.</p>
                            <a href="https://github.com/R-T-Code/App.MyCryptoApp.git" class="project__link" target="_blank"><span>Git</span> to the project</a>
                            <a href="http://rtdevs.io/projects/app/my-crypto-app/" class="project__link" target="_blank">Try out the <span>app</span></a>
                    </div>

                </div>                    
            </div>
    </body>
</html>