<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet">
        <meta name="description" content="{{htmlWebpackPlugin.options.description}}">
        <!-- <link rel="shortcut icon" type="image/png" href="img/favicon.png"> -->

        <title>{{htmlWebpackPlugin.options.title}}</title>
    </head>
    <body>
        <div class="content">
<!--------------DECORATIONS-------------->  
                <div class="decoration"></div>
                <div class="decoration"></div>
                <div class="decoration"></div>
                <div class="decoration"></div>
                <div class="decoration"></div>
                <div class="decoration"></div>
                <div class="decoration"></div>
                <div class="decoration"></div>
                <div class="decoration"></div>
<!--------------DECORATIONS--------------> 
                <div class="content__name projects__initials">
                    <h1 class="content__initials"><a href="/">R. T. dev.</a></h1>
                    <h2 class="content__full-name">Application Projects</h2>
                </div>
                <div class="content__container projects__container">  
                    <div class="project">
                        <img src="./img/portfolio.jpg" alt="" class="project__image">
                        <p class="project__label">Poject name:</p>
                        <p class="project__name">Robertas Tamulionis Portfolio</p>
                        <p class="project__label">Poject description:</p>
                        <p class="project__description">The inside look into my portfolio page code.</p>
                        <a href="https://github.com/R-T-Code/App.CryptoRateCalculator.git" class="project__link" target="_blank"><span>Git</span> to the project</a>
                    </div>

                    <div class="project">
                            <img src="./img/barpage.jpg" alt="" class="project__image">
                            <p class="project__label">Poject name:</p>
                            <p class="project__name">The Wooden Grill</p>
                            <p class="project__label">Poject description:</p>
                            <p class="project__description">So i just learned sass and some fancy DOM manipulation effects which i wanted to put into something i created. Since i know enough about bars and restaurants i decided to choose this topic for my first atempt at design/code website. I was happy with the way it looked, the colors, design, effects. However i tried to fix the media queries recently and of course this website was not thought through so it will not look good under 900px width.</p>
                            <a href="https://github.com/R-T-Code/Website.WoodenGrill.git" class="project__link" target="_blank"><span>Git</span> to the project</a>
                            <a href="http://rtdevs.io/projects/websites/wooden-grill/" class="project__link" target="_blank">Visit the <span>website</span></a>
                    </div>

                    <div class="project">
                            <img src="./img/guitarGarage.jpg" alt="" class="project__image">
                            <p class="project__label">Poject name:</p>
                            <p class="project__name">Guitar Garage</p>
                            <p class="project__label">Poject description:</p>
                            <p class="project__description">This page was created when i decided to see wether i can find a page i like and recreate something simillar just by looking at it. I chose the Guitar Garage topic due to my interest for guitars.</p>
                            <a href="https://github.com/R-T-Code/Website.GuitarGarage.git" class="project__link" target="_blank"><span>Git</span> to the project</a>
                            <a href="http://rtdevs.io/projects/websites/guitar-garage/" class="project__link" target="_blank">Visit the <span>website</span></a>
                    </div>

                     <div class="project">
                            <img src="./img/nat.jpg" alt="" class="project__image">
                            <p class="project__label">Poject name:</p>
                            <p class="project__name">Naturous</p>
                            <p class="project__label">Poject description:</p>
                            <p class="project__description">This website was build through the Udemy course <a href="https://www.udemy.com/advanced-css-and-sass/" class="project__course" target="_blank">Advanced CSS and Sass: Flexbox, Grid, Animations and More!</a>The course looked in depth into responsive CSS, flex box, css grid and usage of sass and many other advanced css features.</p>
                            <a href="https://github.com/R-T-Code/course-project-1" class="project__link" target="_blank"><span>Git</span> to the project</a>
                            <a href="http://rtdevs.io/projects/websites/course-website-1/" class="project__link" target="_blank">Visit the <span>website</span></a>
                    </div>

                    <div class="project">
                            <img src="./img/trillio.jpg" alt="" class="project__image">
                            <p class="project__label">Poject name:</p>
                            <p class="project__name">Trillio</p>
                            <p class="project__label">Poject description:</p>
                            <p class="project__description">This website was build through the Udemy course <a href="https://www.udemy.com/advanced-css-and-sass/" class="project__course" target="_blank">Advanced CSS and Sass: Flexbox, Grid, Animations and More!</a>The course looked in depth into responsive CSS, flex box, css grid and usage of sass and many other advanced css features.</p>
                            <a href="https://github.com/R-T-Code/course-project-2" class="project__link" target="_blank"><span>Git</span> to the project</a>
                            <a href="http://rtdevs.io/projects/websites/course-website-2/" class="project__link" target="_blank">Visit the <span>website</span></a>
                    </div>
                </div>                    
            </div>
    </body>
</html>